{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head> 
		<link rel="icon" href="{% static 'feed/img/code.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'accounts/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Login - Instax</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Welcome to Instax!  </h5>
					<form method="post">	
						{% csrf_token %}
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<!-- <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/> -->
									{{ forms.username|add_class:"form-control" }}
								</div>
							</div>
						</div>
					
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<!-- <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/> -->
									{{ forms.password|add_class:"form-control"}}
								</div>
							</div>
						</div>
						{% block content %}
							{% endblock %}
						<input value="Login"class="btn btn-primary btn-lg btn-block login-button" type="submit" id="login">
					</form>	
					<div class="form-group ">
						<a href="{% url 'accounts:register' %}" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Sign Up</a>
					</div>
			
				</div>
			</div>
		</div>
		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'accounts/js/bootstrap.min.js' %"></script>
	</body>
</html>