{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Edit Profile</title>
{% endblock title %}

{% block search %}
	<form method='get' action="{% url 'feeds:search' %}" class="search">
		{% csrf_token %}
		{{ search_form.search }}
	</form>
{% endblock search %}

{% block feed_url %}
<a href="{% url 'feeds:feeds'%}"><h1 class="title" style="margin-top: -5px; margin-right: -30px">𝐼𝓃𝓈𝓉𝒶𝓍</h1></a>
{% endblock feed_url %}

{% block profile_url %}
<a href="{% url 'profile:profile' current_user.username %}"><img src='http://freeiconbox.com/icon/256/23228.png' class='nav-icon'></a>
{% endblock profile_url %}

{% block content %}
<div class="main-body">

	<div class="tab">
		<button class="tablinks" onclick="change_edit(event, 'Edit')" id="defaultOpen">Edit Profile</button>
		<button class="tablinks" onclick="change_edit(event, 'Change')">Change Password</button>
		<button class="tablinks" onclick="change_edit(event, 'Logout')">Log out</button>

	</div>
	
	<div id="Edit" class="tabcontent">
		{% if prof_pic != False %}
		<img src="{{ account_user.prof_pic.url }}" style="border-radius: 50%; margin-top: 40px; width: 150px;">
		{% else %}
		<img src="{% static 'user_profile/img/blank_picture.png' %}" style="border-radius: 50%; margin-top: 40px; width: 150px;">
		{% endif %}
		<br><br>
		<form action="{% url 'profile:edit' %}" method="post" class="edit_profile" enctype="multipart/form-data">
		{% csrf_token %}
			<h4 class="post">Profile Picture</h4>
			{% render_field prof_pic_form.prof_pic class="form-control" %}
			<br>
			<h4 class="post">First Name</h4> 
			{% render_field edit_form.first_name class="form-control" %}
			<br>
			<h4 class="post">Last Name</h4> 
			{% render_field edit_form.last_name class="form-control"  %}
			<br>
			<h4 class="post">Username</h4> 
			{% render_field edit_form.username class="form-control"  %}
			<br>
			<h4 class="post">Email Address</h4> 
			{% render_field edit_form.email class="form-control"  %}
			<br>
			
			{{ edit_form.errors.email}}
			{{ edit_form.errors.username }}
			{{ prof_pic_form.errors }}

			<button id='edit-btn' class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 100px;margin-left: 362px;">
				Submit
			</button>
		</form>
	</div>

	<div id="Change" class="tabcontent">
		
	</div>

</div>

{% endblock content %}

{% block tabscript %}
<script>
function change_edit(event, option) {
	var i, tabcontent, tablinks;
	
	// Get all elements with class="tabcontent" and hide them
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	}

	// Get all elements with class="tablinks" and remove the class "active"
	tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}

	document.getElementById(option).style.display = "block";
  	event.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
event.currentTarget.className += " active";
</script>
{% endblock tabscript %}