{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
<title>Feeds - {{ user_data.username }}</title>
{% endblock title %}

{% block feed_url %}
<a href="{% url 'feeds:feeds' %}">
	<h1 class="title" class="logo-position">𝐼𝓃𝓈𝓉𝒶𝓍</h1>
</a>
{% endblock feed_url %}


{{ user_data.username }}

{% block search %}
	<form method='get' action="{% url 'feeds:search' %}" class="search">
		{% csrf_token %}
		<!-- <input id="input-field" type="text" placeholder='Search' style="text-align: center"> -->
		{{ search_form.search }}
	</form>
{% endblock search %}

{% block content %}

<div class="main-body">
	<form action="{% url 'feeds:create_post' %}" method="post" enctype="multipart/form-data" class="create-post">
		{% csrf_token %}
		<div id="nav-container" class="nav-container-position">
			<div id="navbar">
				<div id="left" >
					<h4 class="post" style="text-align: left;margin-top: -10px;margin-left: 20px;">Create post</h4>
				</div>
				{{ feed_form.caption }}
				<div id="left" style="margin-left: 89px;">
					{{ picture_form.image}}
				</div>
				<div id="right">
					<button  class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 105px;">Post</button>
				</div>
				<br><br><br>	
			</div>
		</div>	
	</form>

	<div id='new-post'></div>
	{% for feed in feed_data %}
	<div id="post-id-{{ feed.id }}">
		<div id="nav-container">
			<div id="navbar">
				
			{% if feed.user.account.prof_pic %}
				
					<div id="left">
						<a href="{% url 'profile:profile' feed.user.username %}">
							<img src="{{ feed.user.account.prof_pic.url }}" class="feed-prof-pic" >
						</a>
						<h4 class="post" id='feed-prof-username'>
							<a href="{% url 'profile:profile' feed.user.username %}">
								{{ feed.user.username}}
							</a>
						</h4>

					</div>
				
				{% if feed.user.username == current_user.username %}	
					<div id="right">
						<form action="{% url 'feeds:archive' feed.id %}" method="post" class="archive_post" style="float: right;margin-right: 10px;">
							{% csrf_token %}
							<button type="submit">✖</button>
						</form>
						<form class="edit" method="get" action="{% url 'feeds:edit_post' feed.id feed.images.id %}">
							<button id="edit-btn" style="float: right;margin-right: 10px;" type="submit">...</button>
						</form>
						
					</div>
				{% endif %}
				
				<br><br>
				
				{% else %}
					<div id="left">
						<a href="{% url 'profile:profile' feed.user.username %}">
							<img src="{% static 'user_profile/img/blank_picture.png' %}" class="feed-prof-pic">
						</a>
						<h4 class="post" id='feed-prof-username'>
							<a href="{% url 'profile:profile' feed.user.username %}">
								{{ feed.user.username}}
							</a>
						</h4>
					</div>
				{% if feed.user.username == current_user.username %}
					
					<div id="right">
						<form method="post" action="{% url 'feeds:archive' feed.id %}" class="archive_post" style="float: right;margin-right: 10px;">
							{% csrf_token %}
							<button type="submit">✖</button>
							
						</form>

						<form class="edit" method="get" action="{% url 'feeds:edit_post' feed.id feed.images.id %}">
							<button id="edit-btn" style="float: right;margin-right: 10px;" type="submit">...</button>
						</form>

					</div>
				{% endif %}
				
				<br><br>
				
			{% endif %}
				
				<div id="post-edit-{{feed.id }}">
					<div class="padding">
						<h4 class="caption" id="feed-caption">
							{{feed.caption}}
						</h4>
					</div>
					<div id='center'>
						<a href="{% url 'feeds:view_post' feed.id %}"><img src="{{feed.images.image.url}}" width="700px" height="500px"></a>
					</div>
				</div>
				<br><br>
				<div id="left">
					<form method="post" action="{% url 'feeds:like' feed.id %}" class="like">{% csrf_token %}
						<button id="like-btn" class="btn btn-primary btn-lg btn-block register-button" type="submit" style="float: left">Like</button>
					</form>

					
					
					<br><br>
					<h4 class="post" id="like-no{{feed.id}}" style="margin-right: 100px;">
						{{ feed.likes }} Likes
					</h4>
					<form method="get" action="{% url 'feeds:like' feed.id %}" class="likers">
						<button style="margin-right: 10px;">View who liked this...</button>
					</form>	
				</div>
				<br><br><br><br><br><br>
				<div class="comments">
				{% for comments in comment_data %}
					{% if comments.post.id == feed.id %}
						<div id="comment_id-{{ comments.id }}">
						
						{% if feed.user.username == current_user.username %}
							<form action="{% url 'feeds:delete_comment' comments.id %}" method="post" class="delete-comment">
								{% csrf_token %}
								<button style="float: right;" type="submit">x</button>
							</form>
							
							{% if comments.user.username == current_user.username %}
								<form method='get' action="{% url 'feeds:get_comment' comments.id %}" class="comment-form-active">
									{% csrf_token %}
									<button style="float: right;" type="submit">...</button>
								</form>

							{% endif %}
						{% elif comments.user.username == current_user.username %}
							<form action="{% url 'feeds:delete_comment' comments.id %}" method="post" class="delete-comment">
								{% csrf_token %}
								<button style="float: right;" type="submit">x</button>
							</form>

							<form method='get' action="{% url 'feeds:get_comment' comments.id %}" class="comment-form-active">
								{% csrf_token %}
								<button style="float: right;" type="submit">...</button>
							</form>

						{% endif %}
						
							<div class="padding-comments">
								<span class="comment-user" id="comment-user">
									<a href="{% url 'profile:profile' comments.user.username %}" style="color: black;float: left;">
										{{ comments.user.username }} |
									</a> 
								</span>
								<span class="comment">
									<p>{{ comments.comment }}</p>
								</span>
								
								<div id='comment-up-{{comments.id}}' class="edit-comment-form" style="display: none;">
									<form action="{% url 'feeds:edit_comment' comments.id %}" method="post" class="edit-comment">
										{% csrf_token %}
										{{ comment_form.comment|add_class:'text-box'|attr:"style:width:620px;"|attr:'id:comment-edit'|attr:"placeholder:Edit Comment Here" }}
										
									
									<button style="float: right;" type="submit">Edit</button>
									</form>
									<button style="float: right;" id="cancel-edit-comment-{{comments.id}}">Cancel</button>
								</div>
								
								<h4 style="font-size: 12px;">
									Commented on: {{ comments.commented_at }}
								</h4>

							</div>
						

					</div>
					{% endif %}
				{% endfor %}
				
				
				
			<div class="insertComment{{feed.id}}" ></div>
			</div>
			
		</div>

				
			
			<form method="post" action="{% url 'feeds:comment' feed.id %}" class='comment-form'>{% csrf_token %}
			{{ comment_form.comment|add_class:'text-box' }}
			<button id='create-comment' class="btn btn-primary btn-lg btn-block login-button" type="submit" style="margin-left: 570px;width: 110px;">Comment</button>
		</form>
		<br><br>
	</div>

		<div id="popup2" class="overlay2">
			<div class="popup2">
				<h2>Edit Post</h2><br>
				<button class="close2">&times;</button>
				<div class="content2">
					<form action="{% url 'feeds:edit_post' feed.id feed.images.id %}" method="post"  enctype="multipart/form-data" class="edit-post">
					{% csrf_token %}
						<div style="margin-right: 60px;">
							{{feed_form.caption }}
						</div>
						{{ picture_form.image }}

						
						<button class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 105px;margin-left: 465px;">Edit</button>
					</form>
					<div id="info-feed"></div>
					
				</div>
				
			</div>
		</div>

	</div>
	{% endfor %}

	
{% endblock content %}
