{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
<title>Feeds - {{ user_data.username }}</title>
{% endblock title %}

{% block feed_url %}
<a href="{% url 'feeds:feeds' %}">
	<h1 class="title" class="logo-position">𝐼𝓃𝓈𝓉𝒶𝓍</h1>
</a>
{% endblock feed_url %}


{{ user_data.username }}

{% block search %}
	<form method='get' action="{% url 'feeds:search' %}" class="search">
		{% csrf_token %}
		<!-- <input id="input-field" type="text" placeholder='Search' style="text-align: center"> -->
		{{ search_form.search }}
	</form>
{% endblock search %}

{% block content %}

<div class="main-body">
	<form action="{% url 'feeds:create_post' %}" method="post" enctype="multipart/form-data" class="create-post">
		{% csrf_token %}
		<div id="nav-container" class="nav-container-position">
			<div id="navbar">
				<div id="left" >
					<h4 class="post" style="text-align: left;margin-top: -10px;margin-left: 20px;">Create post</h4>
				</div>
				{{ feed_form.caption }}
				<div id="left" style="margin-left: 70px;">
					{{ picture_form.image}}
				</div>
				<div id="right">
					<button  class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 133px;">Post</button>
				</div>
				<br><br><br>	
			</div>
		</div>	
	</form>

	<div id='new-post'></div>
	{% for feed in feed_data %}
	
	<div id="nav-container">
		<div id="navbar">
			
			{% if feed.user.account.prof_pic %}
			<div id="left">
				<a href="{% url 'profile:profile' feed.user.username %}">
					<img src="{{ feed.user.account.prof_pic.url }}" class="feed-prof-pic" >
				</a>
				<h4 class="post" id='feed-prof-username'>
					<a href="{% url 'profile:profile' feed.user.username %}">
						{{ feed.user.username}}
					</a>
				</h4>
			</div>
			<br><br>
			
			{% else %}

			<div id="left">
				<a href="{% url 'profile:profile' feed.user.username %}">
					<img src="{% static 'user_profile/img/blank_picture.png' %}" class="feed-prof-pic">
				</a>
				<h4 class="post" id='feed-prof-username'>
					<a href="{% url 'profile:profile' feed.user.username %}">
						{{ feed.user.username}}
					</a>
				</h4>
			</div>
			<br><br>
			
			{% endif %}
			
			<div class="padding">
				<h4 class="caption" id="feed-caption">
					{{feed.caption}}
				</h4>
			</div>
			<div id='center'>
				<a href="#"><img src="{{feed.images.image.url}}" width="700px" height="500px"></a>
			</div>
			<br><br>
			<div id="left">
				<form method="post" action="{% url 'feeds:like' feed.id %}" class="like">{% csrf_token %}
					<button id="like-btn" class="btn btn-primary btn-lg btn-block register-button" type="submit">Like</button>
				</form>
				<h4 class="post" id="like-no{{feed.id}}" style="margin-right: 100px;">
					{{ feed.likes }} Likes
				</h4>
				<form method="get" action="{% url 'feeds:like' feed.id %}" class="likers">
					<button style="margin-right: 10px;">View who liked this...</button>
				</form>	
			</div>
			<br><br><br><br><br><br>
			<div class="comments">
			{% for comments in comment_data %}
				{% if comments.post.id == feed.id %}

					<div class="padding-comments">
						<span class="comment-user" id="comment-user">
							<a href="{% url 'profile:profile' comments.user.username %}" style="color: black;">
								{{ comments.user.username }} |
							</a> 
						</span>
						<span class="comment">
							{{ comments.comment }}
						</span>
						 <h4 style="font-size: 12px;">
						 	Commented on: {{ comments.commented_at }}
						 </h4>
					</div>
				
				{% endif %}
			{% endfor %}
			<div class="insertComment{{feed.id}}" ></div>
			</div>
			
			<form method="post" action="{% url 'feeds:comment' feed.id %}" class='comment-form'>{% csrf_token %}
				{{ comment_form.comment|add_class:'text-box' }}
				<input id='create-comment' class="btn btn-primary btn-lg btn-block login-button" type="submit" value="Comment" />
			</form>
		</div>
	</div>
	
	{% endfor %}
</div>
{% endblock content %}
