{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head> 
		<link rel="icon" href="{% static 'feed/img/code.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'feed/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'feed/css/login.css' %}">
		<link rel="stylesheet" href="{% static 'feed/css/instax.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'feed/css/feed-position.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="{% static 'feed/js/bootstrap.min.js' %}"></script>
		{% block title %}
		{% endblock title %}
	</head>
	<body>
		<div id='nav-container'>
		  <div id='navbar'>
		    <div id='left'>
			    <a href="{% url 'feeds:feeds' %}"><img src="{% static 'feed/img/code.png' %}" id='logo-icon'></a>
			    <a href="{% url 'feeds:feeds' %}"><h1 class="title" style="margin-top: -5px; margin-right: -30px">𝐼𝓃𝓈𝓉𝒶𝓍</h1></a>
			</div>
		    <div id='center'>
		    	<input id="input-field" type="text" placeholder='Search' style="text-align: center">
		    </div>
		    <div id='right'>
		      <a href="{% url 'profile:profile' user_data.username %}"><img src='http://freeiconbox.com/icon/256/23228.png' class='nav-icon'></a>
		    </div>
		  </div>
		</div>
		{% block content %}
		{% endblock content %}
		
		

		{% block ajax %}
		{% endblock ajax %}
		
	</body>
		
</html>