{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="icon" href="{% static 'feed/img/code.png' %}">
		<link rel="stylesheet" href="{% static 'feed/css/popup.css' %}">
		<link rel="stylesheet" href="{% static 'feed/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'feed/css/login.css' %}">
		<link rel="stylesheet" href="{% static 'feed/css/instax.css' %}">
		<link rel="stylesheet" href="{% static 'feed/css/feed-position.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    	{% block title %}
		{% endblock title %}
	</head>
	<body>
		<div id='nav-container'>
		  <div id='navbar'>
		    <div id='left'>
			    <a href="{% url 'feeds:feeds' %}"><img src="{% static 'feed/img/code.png' %}" id='logo-icon'></a>
			    <a href="{% url 'feeds:feeds' %}"><h1 class="title" style="margin-top: -5px; margin-right: -30px">𝐼𝓃𝓈𝓉𝒶𝓍</h1></a>
			</div>
		    <div id='center'>
		    	{% block search %}
		    	{% endblock search %}
		    	<div id="search-results"></div>
		    </div>
		    <div id='right'>
		      <a href="{% url 'profile:profile' current_user.username %}"><img src='http://freeiconbox.com/icon/256/23228.png' class='nav-icon'></a>
		    </div>
		  </div>
		</div>
		{% block content %}
		{% endblock content %}
		<div id="popup1" class="overlay">
			<div class="popup">
				<h2>People who liked this...</h2><br>
				<button class="close">&times;</button>
				<div class="content">
					
				</div>
			</div>
		</div>


<script>
	

function comment(event){
	event.preventDefault();
	var url = $(this).attr('action');
	$.ajax({
		url: url,
		type: "POST",
		data: $(this).serialize(),
		success: function(data){
			console.log('executed');
			$('.insertComment'+data.post_id).prepend(`
				<div class="padding-comments">
					<span class="comment-user" id="comment-user">
						<a href="#" style="color: black;">`
						+data.username+ `|
						</a> 
					</span>
					<span class="comment">`
					+data.comment+
					`</span>
					<br>
					 <h4 style="font-size: 12px;">
					 	Commented on:` +data.commented_at+
					`</h4>
				</div>`);
			$('.text-box').val('');
		}
	});
}

function like(event){
	event.preventDefault();
	console.log('liked');
	var url = $(this).attr('action');
	$.ajax({
		url: url,
		type: "POST",
		data: $(this).serialize(),
		success: function(data){
			$('#like-no'+data.id).replaceWith(`
				<h4 class='post' id='like-no`+data.id+`' style="margin-right: 100px;">`+
					data.likes+` Likes
				</h4>`);
		}
	});
}

function likers(event){
	event.preventDefault();
	var url = $(this).attr('action')
	$('.overlay').addClass('active');
	
	$.ajax({
		url:url,
		data: $(this).serialize(),
		success: function(data){
			var prof_pic;
			for(var i = 0; i < data['data'].length; i++){
				if(data['data'][i].user__account__prof_pic === ""){
					prof_pic = `<img src="/static/user_profile/img/blank_picture.png" style="border-radius:50%;width:15%;margin-right:10px;">`;
				}
				else{
					prof_pic = `<img src="/media/`+data['data'][i].user__account__prof_pic+`" style="border-radius:50%;width:15%;margin-right:10px;">`;
				}

				$('.content').append(`
					<span style="font-size:20px;">`
						+prof_pic+
						data['data'][i].user__username+
					`</span>
					<br><br>`);
			}
		}
	});

	$('.close').on('click',function(event){
		$('.overlay').removeClass('active');
		$('.content').empty();
	});
}

function create_post(event){
	event.preventDefault();
	console.log('clicked');
	var url = $(this).attr('action');
	var data = new FormData(this);
	console.log(data);
	$.ajax({
		url: url,
		type: 'POST',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		success: function(data){
			console.log(data);
			var prof_pic;
			if(data.prof_pic === undefined){
				prof_pic = "/static/user_profile/img/blank_picture.png"
			}
			else{
				prof_pic = data.prof_pic;
			}
			$('#new-post').prepend(`
				<div id="nav-container">
					<div id="navbar">
						<div id="left">
							<a href="/profile/`+data.username+`">
								<img src=`+prof_pic+` class="feed-prof-pic" >
							</a>
							<h4 class="post" id='feed-prof-username'>
								<a href="/profile/`+data.username+`">`
								+data.username+
								`</a>
							</h4>	
						</div>
						<br><br>
						<div class="padding">
							<h4 class="caption" id="feed-caption">`
							+data.caption+
							`</h4>
						</div>
						<div id='center'>
							<a href="#"><img src="`+data.image+`" width="700px" height="500px"></a>
						</div>
						<br><br>
						<div id="left">
							<form method="post" action="/feeds/like/`+data.id+`/" class="new-like">
								{% csrf_token %}
								<button id="like-btn" class="btn btn-primary btn-lg btn-block register-button" type="submit">Like</button>
							</form>
							<h4 class="post" id="like-no`+data.id+`" style="margin-right: 100px;">`
								+data.likes+` Likes
							</h4>
							<form method="get" action="/feeds/like/`+data.id+`" class="new-likers">
								<button style="margin-right: 10px;">View who liked this...</button>
							</form>	
						</div>
						<br><br><br><br><br><br>
						<div class="comments">
						<div class="insertComment`+data.id+`" ></div>
						</div>
						<form method="post" action="/feeds/comment/`+data.id+`/" class='new-comment-form'>
							{% csrf_token %}
							{{ comment_form.comment|add_class:'text-box' }}
							<input id='create-comment' class="btn btn-primary btn-lg btn-block login-button" type="submit" value="Comment" />
						</form>
					</div>
				</div>
			`);
			$('#create-caption-field').val("");	
			$('#id_image').val("");
			$('.new-comment-form').submit(comment);
			$('.new-like').submit(like);
			$('.new-likers').on('click',likers);
		}

	}).done();
	
}

function search(event){
	event.preventDefault();	
	var url = $(this).attr('action');
	$.ajax({
		url:url,
		data: $(this).serialize(),
		success: function(data){
			var prof_pic;
			if($('#search-field').val() === ""){
				$('#search-results').replaceWith(`<div id="search-results"></div>`);
			}
			
			else if(data['data'][0] === undefined){
				$('#search-results').replaceWith(`
					<div id="search-results">
					<div id="myDropdown" class="dropdown-content show" style="width:300px;"> No results found </div>
					</div>`);	
			}
			else{
				$('#search-results').replaceWith(`
					<div id="search-results">
						<div id="myDropdown" class="dropdown-content show">
							
						</div>
					</div>`);	

				for(var i = 0; i < data['data'].length;i++){
					if(data['data'][i].prof_pic === ""){
						prof_pic = "/static/user_profile/img/blank_picture.png";
					}
					else{
						prof_pic = "/media/"+data['data'][i].prof_pic;
					}
					$('#myDropdown').append(`
						<a href="/profile/`+data['data'][i].user__username+`">
							<img src="`+prof_pic+`" style="border-radius:50%;width:15%;margin-right:10px;">`+data['data'][i].user__username+`
						</a>
						
					`);
						
				}
				
			}
		}
	});
	
}

$('.follow').submit(function(event){
	event.preventDefault();
	console.log('clicked');
	var url = $(this).attr('action');
	$.ajax({
		url: url,
		type: 'POST',
		data: $(this).serialize(),
		success: function(data){
			if(data.follow === false){
				$('#follow-btn').replaceWith(`
					<button id='follow-btn' class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 100px;margin-left: 45px;">
					Follow
					</button>
				`);
			}
			else{
				$('#follow-btn').replaceWith(`
					<button id='follow-btn' class="btn btn-primary btn-lg btn-block register-button" type="submit" style="width: 100px;margin-left: 45px;">
					Following
					</button>
				`);
			}

			$('#no-followers').replaceWith(`
				<h4 id='no-followers' class="post" style="text-align: left;font-size: 20px;">
					  Followers `+ data.followers+` 
				</h4>
				`);

		
		}
	});
});

$('.comment-form').submit(comment);
$('.like').submit(like);
$('.likers').on('click',likers);
$('.create-post').submit(create_post);

$('.search').submit(search);
</script>
</body>
</html>